body {
    background-color: black;
}
h1 {
    color: rgb(61, 255, 61);
    text-align: center;
}
p {
    color: rgb(61, 255, 61);
    text-align: center;
}
.inputBox {
    position: absolute;
    left:  45%
}